*.iml
/.idea/
/.logs/
/target/
/logs/
/**/target/
.logs/
/.settings/
.project
/**/.settings
/**/**/.settings
/**/**/.classpath
/**/**/.factorypath
/**/**/.project
/**/**/target/

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